@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
    overflow-x: hidden;
}

.homepage-bg {
    background-image: url('./assets/Images/bghome.svg');
}

.custom-shadow {
    box-shadow: 10px 10px rgb(228, 228, 3);
}

input, textarea {
  outline: none;
}

.text-gradient {
    background: linear-gradient(#19B4D3, #7FE3C5);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}

.yellow-gradient {
    background: linear-gradient(#AF5220, #be9a17);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}

.red-gradient {
    background: linear-gradient(45rad, #A53289, #FD2D21, #FC7836);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}

.shadow-img {
    box-shadow: 1px 0px 15px 6px #5F2C33;
}

.gradient {
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}

* {
    scrollbar-width: auto;
    scrollbar-color: #afb2bf;
  }
  
  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 3px;
  }
  
  *::-webkit-scrollbar-track {
    background: #000814;
  }
  
  *::-webkit-scrollbar-thumb {
    background-color: #afb2bf;
    border-radius: 10px;
    visibility: hidden;
  }
  
  *:active::-webkit-scrollbar-thumb,
  *:focus::-webkit-scrollbar-thumb,
  *:hover::-webkit-scrollbar-thumb {
    visibility: visible;
  }

  .form-style {
    @apply rounded-lg bg-richblack-700 p-3 text-[16px] leading-[24px] text-richblack-5 shadow-[0_1px_0_0] shadow-white/50 placeholder:text-richblack-400 focus:outline-none;
  }

  .yellowButton {
    @apply cursor-pointer rounded-md bg-yellow-50 px-[20px] py-[8px] font-semibold text-richblack-900;
  }
  .blackButton {
    @apply cursor-pointer rounded-md bg-richblack-800 px-[20px] py-[8px] font-semibold text-richblack-5;
  }

  .section_heading {
    @apply text-3xl text-richblack-100
  }